<h1>Staffs#regist_confirm</h1>
<p>Find me in app/views/staffs/regist_confirm.html.erb</p>

  <div ng-controller="StaffsCtrl">
  	<form method="post" name="staffInfo" action="regist">
  		<span ng-show="allChecked">全て解除</span>
  		<span ng-hide="allChecked">全て選択</span>
  		<input type="checkbox" ng-model="allChecked" name="allChacke" onChange="checkAll()">
  		<input type="submit" value="登録" name="submit" disabled="true">
  		<ul>
	      <li ng-repeat=" staff in staffs ">
	      	<p>
	      		<input type="checkbox" value="{{staff.id}}" name="info[]" ng-checked="allChecked" onChange="checkInfo()">
	        	{{ staff.full_name }}
	    	</p>
	      </li>
	    </ul>
  	</form>

  </div>