<div ng-controller="StaffsCtrl">

  <div class="container">

      <div class="row">
        <h2>未登録社員一覧</h2>
      </div>

      <div class="row">
        <input ng-model="query" class="col-xs-12 col-md-3">
      </div>

      <form role="form" method="post" name="staffInfo" id="form">

        <span ng-show="staffChecked">全て解除</span>
        <span ng-hide= "staffChecked">全て選択</span>
        <input type="checkbox" ng-model="staffChecked" name="allChacke" ng-change="checkAll()">
        <input  type="submit"
            value="登録"
            name="regist"
            disabled="true"
            class="btn btn-primary">

        <hr>

        <ul class="list-unstyled">
          <li ng-repeat=" staff in staffs | filter:query ">

            <input  type="checkbox"
                value="{{staff.id}}"
                name="yammerId[]"
                ng-checked="staffChecked"
                onChange="checkInfo()">

            <img ng-src="{{staff.mugshot_url}}"/>&nbsp;
            {{ staff.full_name }}
            <hr>
          </li>
        </ul>

      </form>

  </div>

  <!-- プログレスバーを表示するモーダル -->
    <script type="text/ng-template" id="progress.html">
      <div class="modal-header">
        通信中...
      </div>
      <div class="modal-body">
        <progressbar class="progress-striped active" animate="false" value="100">
        </progressbar>
      </div>
    </script>

</div>