<script type="text/ng-template" id="eventUpdate.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
		<h4>「{{event.title}}」編集</h4>
	</div>

	<div class="modal-body">
		<div>イベント名</div>
		<div>
			<input type="text" ng-model="event.title">
		</div>

		<div>イベント内容</div>
		<div>
			<textarea ng-model="event.description"></textarea>
		</div>

		<div>場所</div>
		<div>
			<input type="text" ng-model="event.location">
		</div>

		<div>開催日</div>
		<div>
			<input type="text" datepicker-popup ng-model="event.start" ng-required="true">
		</div>
		<div ng-model="event.start">
		<timepicker></timepicker>

		<input type="hidden" ng-model="event.id">

	</div>

	<div class="modal-footer">
		<button class="btn btn-success" ng-click="update()">編集</button>
		<button class="btn btn-danger" ng-click="$close()">キャンセル</button>
	</div>

	<br>
	<table class="table table-striped">
		<tbody>
			<tr ng-repeat=" registrant in registrants ">
				<td>
					<img ng-src="{{registrant.staff.mugshot_url}}"/>
				</td>
				<td>
					{{registrant.staff.full_name}}
				</td>
				<td>
					{{registrant.participation.name}}
				</td>
			</tr>
		</tbody>
	</table>

</script>
