<script type="text/ng-template" id="eventRegist.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
		<h4>「{{event.title}}」参加/不参加</h4>
	</div>

	<div class="modal-body">
		<div>イベント内容</div>
		<div>{{event.description}}</div>

		<div>場所</div>
		<div>{{event.location}}</div>

		<div>時間</div>
		<div>{{event.start | date:'yyyy-MM-dd HH:mm'}}</div>

		<select class="form-control"
			ng-change="change(participations_id)"
			ng-model="participations_id"
			ng-options="p.id as p.name for p in participations">
		</select>

	</div>

	<div class="modal-footer">

		<span ng-show="current_flag">
			<button class="btn btn-success" ng-click="updateRegister()">編集</button>
		</span>
		<span ng-hide="current_flag">
			<button class="btn btn-success" ng-click="regist()">登録</button>
		</span>

		<button class="btn btn-danger" ng-click="$close()">キャンセル</button>

	</div>

	<br>
	<table class="table">
		<tbody>
			<tr ng-repeat=" registrant in registrants ">
				<td>
					<img ng-src="{{registrant.staff.mugshot_url}}"/>
				</td>
				<td>
					{{registrant.staff.full_name}}
				</td>
				<td>
					{{registrant.participation.name}}
				</td>
			</tr>
		</tbody>
	</table>


</script>
