<script type="text/ng-template" id="show.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
		<img ng-src="{{registered_staff.mugshot_url}}"/>
		<h4>{{registered_staff.name}}</h4>
	</div>

	<div class="modal-body">

		<table class="table table-striped">
			<tbody>
				<tr>
					<td class="col-xs-2 col-md-2">
						<strong>所属</strong>
					</td>
					<td class="col-xs-10 col-md-10 text-center">
						{{registered_staff.department_name}}
					</td>
				</tr>
				<tr>
					<td class="col-xs-2 col-md-2">
						<strong>班</strong>
					</td>
					<td class="col-xs-10 col-md-10 text-center">
						{{registered_staff.group_name}}
					</td>
				</tr>
				<tr>
					<td class="col-xs-2 col-md-2">
						<strong>出身地</strong>
					</td>
					<td class="col-xs-10 col-md-10 text-center">
						{{registered_staff.prefecture_name}}
					</td>
				</tr>
				<tr>
					<td class="col-xs-2 col-md-2">
						<strong>現場</strong>
					</td>
					<td class="col-xs-10 col-md-10 text-center">
						{{registered_staff.loan_company_name}}
					</td>
				</tr>
			</tbody>
		</table>

		<div>
			所属yammerグループ表示
			<input type="checkbox" ng-model="checked">
			<br/>
			<span ng-show="checked">
        		<table class="table-striped">
        			<tr ng-repeat="pg in privateGroups">
        				<td class="col-xs-4 col-md-4">
        					{{pg.private_group.name}}
        				</td>
        				<td class="col-xs-8 col-md-8">
        					{{pg.private_group.description}}
        				</td>
        			</tr>
        		</table>
      		</span>
		</div>

	</div>

	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="$close()">閉じる</button>
	</div>

</script>
