<div ng-controller="StaffAllCtrl">
<h2>社員一覧</h2>
<input ng-model="query">

<div id="home-index-container">
	<ul>
		<li ng-repeat=" staff in staffs  | filter:query ">
			<img ng-src="{{staff.mugshot_url}}"/>&nbsp;
			{{staff.full_name}}&nbsp;
			{{staff.email}}&nbsp;
		</li>
	</ul>
</div>


</div>