<div ng-controller="StaffAllCtrl">

	<div class="container">

		<div class="row">
			<h2>社員一覧</h2>
		</div>

		<div class="row">
			<input ng-model="query" class="col-xs-12 col-md-3">
		</div>

		<hr>

		<table class="table">
			<thead>
				<tr>
					<th class="col-xs-1 col-md-1">

					</th>
					<th class="col-xs-2 col-md-2">
						社員名
					</th>
					<th class="hidden-xs col-md-2">
						email
					</th>
					<th class="hidden-xs col-md-1">
						所属
					</th>
					<th class="hidden-xs col-md-1">
						班
					</th>
					<th class="hidden-xs col-md-2">
						出身
					</th>
					<th class="col-xs-3 col-md-3">
						ひとこと
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat=" staff in staffs | filter:query ">
					<td class="col-xs-1 col-md-1">
						<img ng-src="{{staff.mugshot_url}}"/>
					</td>
					<td class="col-xs-2 col-md-2">
						<a href ng-click="open(staff.id)">
							{{staff.full_name}}
						</a>
					</td>
					<td class="hidden-xs col-md-2">
						<a ng-href="mailto:{{staff.email}}"/>
							{{staff.email}}
						</a>
					</td>
					<td class="hidden-xs col-md-2">
						{{staff.department.name}}
					</td>
					<td class="hidden-xs col-md-1">
						{{staff.group.name}}
					</td>
					<td class="hidden-xs col-md-2">
						{{staff.prefecture.name}}
					</td>
					<td class="col-xs-3 col-md-3">
						{{staff.tweets}}
					</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<google-map center="map.center"
				    zoom="map.zoom"
				    draggable="true"
				    mark-click="false">
				    <markers>
				    	<marker ng-repeat="marker in myMarkers | filter:query"
				    	coords="marker"
				    	click="marker.onClicked"
				    	icon="marker.mugshot_url"
				    	options="marker.options">
				    	</marker>
				    </markers>
			</google-map>
		</div>

	</div>

	<script type="text/ng-template" id="show.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
			<img ng-src="{{registered_staff.mugshot_url}}"/>
			<h4>{{registered_staff.name}}</h4>
		</div>

		<div class="modal-body">
			<div>所属</div>
			<div>{{registered_staff.department_name}}</div>

			<div>班</div>
			<div>{{registered_staff.group_name}}</div>

			<div>出身地</div>
			<div>{{registered_staff.prefecture_name}}</div>

			<div>現場</div>
			<div>{{registered_staff.loan_company_name}}</div>

		</div>

		<div class="modal-footer">
			<button class="btn btn-danger" ng-click="$close()">閉じる</button>
		</div>

	</script>

	<script type="text/ng-template" id="update.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
			<img ng-src="{{registered_staff.mugshot_url}}"/>
			<h4>{{registered_staff.name}}</h4>
		</div>

		<div class="modal-body">
			<div>イベント内容</div>
			<div>{{event.description}}</div>

			<div>場所</div>
			<div>{{event.location}}</div>

			<div>時間</div>
			<div>{{event.start}}</div>

			<select class="form-control"
				ng-change="change(participations_id)"
				ng-model="participations_id"
				ng-options="p.id as p.name for p in participations">
			</select>

		</div>

		<div class="modal-footer">
			<button class="btn btn-success" ng-click="update()">編集</button>
			<button class="btn btn-danger" ng-click="$close()">キャンセル</button>
		</div>

	</script>

</div>

<div class="container" ng-controller="CalendarCtrl">
	<div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" style="width:auto;">
	</div>

	<script type="text/ng-template" id="eventCreate.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
			<h4>イベント登録</h4>
		</div>

		<form name="eventInfo">
			<div class="modal-body">
				<div>イベント名</div>
				<div>
					<input type="text" ng-model="newEvent.name" required>
				</div>

				<div>イベント内容</div>
				<div>
					<textarea ng-model="newEvent.description" required></textarea>
				</div>

				<div>場所</div>
				<div>
					<input type="text" ng-model="newEvent.location" required>
				</div>

				<div>開催日</div>
				<div>
					{{eventDay | date:'yyyy-MM-dd'}}
				</div>
				<div ng-model="eventDay">
				<timepicker></timepicker>

			</div>

			<div class="modal-footer">
				<button class="btn btn-success" ng-click="create()" ng-disabled="eventInfo.$invalid">登録</button>
				<button class="btn btn-danger" ng-click="$close()">キャンセル</button>
			</div>
		</form>

	</script>

	<script type="text/ng-template" id="eventUpdate.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
			<h4>「{{event.title}}」編集</h4>
		</div>

		<div class="modal-body">
			<div>イベント名</div>
			<div>
				<input type="text" ng-model="event.title">
			</div>

			<div>イベント内容</div>
			<div>
				<textarea ng-model="event.description"></textarea>
			</div>

			<div>場所</div>
			<div>
				<input type="text" ng-model="event.location">
			</div>

			<div>開催日</div>
			<div>
				<input type="text" datepicker-popup ng-model="event.start" ng-required="true">
			</div>
			<div ng-model="event.start">
			<timepicker></timepicker>

			<input type="hidden" ng-model="event.id">

		</div>

		<div class="modal-footer">
			<button class="btn btn-success" ng-click="update()">編集</button>
			<button class="btn btn-danger" ng-click="$close()">キャンセル</button>
		</div>
	</script>

	<script type="text/ng-template" id="eventRegist.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
			<h4>「{{event.title}}」参加/不参加</h4>
		</div>

		<div class="modal-body">
			<div>イベント内容</div>
			<div>{{event.description}}</div>

			<div>場所</div>
			<div>{{event.location}}</div>

			<div>時間</div>
			<div>{{event.start}}</div>

			<select class="form-control"
				ng-change="change(participations_id)"
				ng-model="participations_id"
				ng-options="p.id as p.name for p in participations">
			</select>

		</div>

		<div class="modal-footer">

			<span ng-show="current_flag">
				<button class="btn btn-success" ng-click="updateRegister()">編集</button>
			</span>
			<span ng-hide="current_flag">
				<button class="btn btn-success" ng-click="regist()">登録</button>
			</span>

			<button class="btn btn-danger" ng-click="$close()">キャンセル</button>

		</div>

		<br>
		<table class="table">
			<tbody>
				<tr ng-repeat=" registrant in registrants ">
					<td>
						<img ng-src="{{registrant.staff.mugshot_url}}"/>
					</td>
					<td>
						{{registrant.staff.full_name}}
					</td>
					<td>
						{{registrant.participation.name}}
					</td>
				</tr>
			</tbody>
		</table>


	</script>
</div>

