<div class="row">

	<div class="col-xs-offset-4">
		<h1>Welcome to Arsenal</h1>
		<h1>Please Sign with Yammer</h1><br>
		<%= link_to image_tag('yammer-signin.gif'), staff_omniauth_authorize_path(:yammer) %>
	</div>

</div>
