@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

// margin
$base-margin: 50px;

// font-size
$base-font-size: 14px;
$larg-font-size: 12ex;

// height width
$base-img-height: 350px;
$base-img-width: 455px;
$base-img-max-height: 350px;
$base-img-max-width: 455px;

// colot
$base-color: #00ffff;
$derk-color: darken( $base-color, 15% );

body {
  font-family: "Hiragino Maru Gothic ProN", Monaco, Meiryo, sans-serif;

  h1, h2 {
    font-family: 'Josefin Sans', 'Quicksand',"Hiragino Maru Gothic ProN", Monaco, Meiryo, sans-serif;
  }

  #masthead {
    background-color: #396B9A;
    height: 70px;
    position: relative;
    overflow-x: hidden;

    #masthead-inner-container {
      position: relative;
      h1 a {
        color: white;
        text-decoration: none;
        font-family: 'Open Sans';
      }
    }
  }

  #home-index-container {
    li {
      list-style-type: none;
    }
  }

  .angular-google-map-container {
    height: 500px;
  }

  .table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }

  #page-top {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 77%;
    a {
      background: #666;
      -moz-opacity: 0.5;
      opacity: 0.5;
      text-decoration: none;
      color: #fff;
      width: 100px;
      padding: 30px 0;
      text-align: center;
      display: block;
      border-radius: 5px;
      &:hover {
        text-decoration: none;
        background: #999;
      }
    }
  }

}
